
header{
    background-color: silver;
    height: 200px;
    width: 100%;
}
header div {
    margin-left: 5%;
    display: flex;
    align-items: center;
}
hgroup{
    color: red;
    font-weight: bold;
}
section{
    width: 50%;
}
#about dl {
    padding-right: 20px;
}
section p{
    padding-right: 20px;
}
.content{
    display: flex;
    flex-wrap: wrap;
    margin: 0% 5%;
}
h3{
    margin-top: 0;
    border-bottom: 1px solid silver;
}
h3::before{
    content: ".";
    font-size: 100px;
    color: red;
}

h4{
    margin-bottom: 0;
}
#about {
    font-size: 25px;
}

#about dd{
    margin-left: 100px;
    padding-left: 50px;
}
#contact{
    position: absolute;
    top: 3%;
    right: 0;
}
.contacts dl{
    display: flex;
    margin: 0;
    width: min-content;

}
.contacts dd {
    background-color:rgb(77, 71, 71);
    width: 600px;
    margin: 0;
}
.contacts dd a{
    text-decoration: none;
    color:red;
}
.contacts dt{
    width: 110px;
    background-color: red;
    color: white;
    padding-bottom: 5px;
    padding-left: 5px;
}

#contact h3{
display: none;
}

.skill {
    margin: 5px 5px 5px 0;
    padding: 5px;
    width:100%;
   
  }
  .skills-primary .skill{
    background-color: silver;
  }
  .skills-secondary .skill{
      background-color: rgba(219, 210, 210, 0.788);
  }

  .skills-primary::before{
    content: "Main";
}
.skills-secondary::before{
    content: "Other";
}
.skills-primary .skill span{
    display: inherit;
    background-color: red;
    color: white;
    padding: 3px;
  }
 .skills-secondary .skill span {
    display: inherit;
    background-color: rgba(255, 0, 0, 0.582);
    color: white;
    padding: 3px;
  }
  .skill[data-skill='1'] span {
    width: calc(10% - 4%);
  }
  
  .skill[data-skill='2'] span {
    width: calc(20% - 4%);
  }
  
  .skill[data-skill='3'] span {
    width: calc(30% - 4%);
  }
  
  .skill[data-skill='4'] span {
    width: calc(40% - 4%);
  }
  
  .skill[data-skill='5'] span {
    width: calc(50% - 4%);
  }
  
  .skill[data-skill='6'] span {
    width: calc(60% - 4%);
  }
  
  .skill[data-skill='7'] span {
    width: calc(70% - 4%);
  }
  
  .skill[data-skill='8'] span {
    width: calc(80% - 4%);
  }
  
  .skill[data-skill='9'] span {
    width: calc(90% - 4%);
  }
  
  .skill[data-skill='10'] span {
    width: calc(100% - 4%);
  }







.experience-type{
    color: red;
}
.experience-location::before{
content: "in";
color: silver;
}
.experience-institution::before{
    content: "@";
    color: red;
}
.experience-date::before{
    content: "on";
  }
.experience-institution{
    color: red;
}

.experience-date{
    color: silver;
}
.experience-location{
    color: silver;
}
.experience-date-separator{
    color: red;
    font-weight: bold;
}



 .contact-skype .contact-value{
    color:black;
    
 }


@media screen and (max-width:900px){
   header div{
       display: flex;
       flex-direction: column;
       align-items: flex-start;
   }
   section{
       width: 100%;
   }
    .content{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #about dl{
        padding-right: 0;
    }
    section p{
        padding-right: 0;
    }

    hgroup{
        margin-left: 30px;
    }
    #contact{
        position: static;
    }
    #contact h3{
        display: inherit;
    }
    #contact div{
        line-height: 25px;
    }
    #contact dd{
        background-color: white;
    }
    
}


